openapi: 3.0.3
info:
  title: API de CoworkingSpaces
  description: API REST para la aplicación móvil de gestión de espacios de coworking
  version: 1.0.0

servers:
  - url: https://api.coworkingspaces.com/api/v1
    description: Servidor de producción
  - url: http://localhost:8080/api/v1
    description: Servidor de desarrollo local

paths:

  /reservaciones:
    post:
      summary: Crear una nueva reservación de espacio de coworking
      description: >
        Permite a un usuario registrado reservar un espacio de coworking disponible
        para una fecha y cantidad de horas específicas. El sistema valida la
        disponibilidad antes de confirmar la reservación.
      operationId: crearReservacion
      tags:
        - Reservaciones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservacionRequest'
            example:
              usuarioId: "usr_a1b2c3"
              espacioId: "esp_001"
              fechaReservacion: "2026-05-10"
              horaInicio: "09:00"
              cantidadHoras: 4
              notas: "Se necesita proyector y configuración para 6 personas"
      responses:
        '201':
          description: Reservación creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservacionResponse'
              example:
                reservacionId: "res_xyz789"
                usuarioId: "usr_a1b2c3"
                espacioId: "esp_001"
                nombreEspacio: "Hub de Innovación – Sala A"
                fechaReservacion: "2026-05-10"
                horaInicio: "09:00"
                horaFin: "13:00"
                cantidadHoras: 4
                precioTotal: 60.00
                moneda: "USD"
                estado: "CONFIRMADA"
                creadaEn: "2026-04-25T08:30:00Z"
        '400':
          description: Datos de la solicitud inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "ERROR_VALIDACION"
                mensaje: "cantidadHoras debe estar entre 1 y 12"
                timestamp: "2026-04-25T08:30:00Z"
        '404':
          description: Espacio o usuario no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "RECURSO_NO_ENCONTRADO"
                mensaje: "El espacio con id 'esp_001' no existe"
                timestamp: "2026-04-25T08:30:00Z"
        '409':
          description: El espacio no está disponible para la fecha y hora solicitadas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "ESPACIO_NO_DISPONIBLE"
                mensaje: "El espacio seleccionado ya se encuentra reservado para ese horario"
                timestamp: "2026-04-25T08:30:00Z"

  /espacios/{espacioId}:
    put:
      summary: Actualizar la información y disponibilidad de un espacio de coworking
      description: >
        Permite a los administradores actualizar los detalles de un espacio,
        incluyendo su estado de disponibilidad, precio y capacidad.
      operationId: actualizarEspacio
      tags:
        - Espacios
      parameters:
        - name: espacioId
          in: path
          required: true
          description: Identificador único del espacio de coworking
          schema:
            type: string
          example: "esp_001"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EspacioActualizarRequest'
            example:
              nombre: "Hub de Innovación – Sala A"
              descripcion: "Espacio abierto moderno con iluminación natural."
              ubicacion: "San José, Escazú – Torre Sabana, Piso 4"
              capacidad: 10
              precioPorHora: 15.00
              disponible: true
      responses:
        '200':
          description: Espacio actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspacioResponse'
              example:
                espacioId: "esp_001"
                nombre: "Hub de Innovación – Sala A"
                urlImagen: "https://storage.coworkingspaces.com/espacios/esp_001.jpg"
                descripcion: "Espacio abierto moderno con iluminación natural."
                ubicacion: "San José, Escazú – Torre Sabana, Piso 4"
                capacidad: 10
                precioPorHora: 15.00
                disponible: true
                actualizadoEn: "2026-04-25T10:00:00Z"
        '400':
          description: Datos de la solicitud inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "ERROR_VALIDACION"
                mensaje: "precioPorHora debe ser mayor que 0"
                timestamp: "2026-04-25T10:00:00Z"
        '403':
          description: Permisos insuficientes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "ACCESO_DENEGADO"
                mensaje: "No tiene permisos para modificar espacios"
                timestamp: "2026-04-25T10:00:00Z"
        '404':
          description: Espacio no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "RECURSO_NO_ENCONTRADO"
                mensaje: "El espacio con id 'esp_001' no existe"
                timestamp: "2026-04-25T10:00:00Z"

components:
  schemas:

    ReservacionRequest:
      type: object
      required:
        - usuarioId
        - espacioId
        - fechaReservacion
        - horaInicio
        - cantidadHoras
      properties:
        usuarioId:
          type: string
          description: Identificador único del usuario que realiza la reservación
        espacioId:
          type: string
          description: Identificador único del espacio a reservar
        fechaReservacion:
          type: string
          format: date
          description: Fecha de la reservación (YYYY-MM-DD)
        horaInicio:
          type: string
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d)$"
          description: Hora de inicio en formato HH:mm (24 horas)
        cantidadHoras:
          type: integer
          minimum: 1
          maximum: 12
          description: Número de horas a reservar el espacio
        notas:
          type: string
          maxLength: 500
          description: Notas adicionales opcionales

    ReservacionResponse:
      type: object
      properties:
        reservacionId:
          type: string
        usuarioId:
          type: string
        espacioId:
          type: string
        nombreEspacio:
          type: string
        fechaReservacion:
          type: string
          format: date
        horaInicio:
          type: string
        horaFin:
          type: string
        cantidadHoras:
          type: integer
        precioTotal:
          type: number
          format: double
        moneda:
          type: string
        estado:
          type: string
          enum: [CONFIRMADA, PENDIENTE, CANCELADA]
        creadaEn:
          type: string
          format: date-time

    EspacioActualizarRequest:
      type: object
      required:
        - nombre
        - ubicacion
        - capacidad
        - precioPorHora
        - disponible
      properties:
        nombre:
          type: string
          maxLength: 100
        imagen:
          type: string
          format: binary
          description: Archivo de imagen del espacio
        descripcion:
          type: string
          maxLength: 1000
        ubicacion:
          type: string
        capacidad:
          type: integer
          minimum: 1
        precioPorHora:
          type: number
          format: double
          minimum: 0.01
        disponible:
          type: boolean

    EspacioResponse:
      type: object
      properties:
        espacioId:
          type: string
        nombre:
          type: string
        urlImagen:
          type: string
        descripcion:
          type: string
        ubicacion:
          type: string
        capacidad:
          type: integer
        precioPorHora:
          type: number
          format: double
        disponible:
          type: boolean
        actualizadoEn:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        mensaje:
          type: string
        timestamp:
          type: string
          format: date-time